*{
	margin-top: 8px ;padding: 0;
	box-sizing: border-box;
	font-family: gudea;
}
body{
	
	display: grid;
	place-items: center;
}
.cardcontainer{
	width: 380px;
	height: 590px;
	background: #DD93BD;
	border-radius: 25px;
	display: flex;
	justify-content: 
		center;
	align-items: center;
	flex-direction: column;
	}
header{
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	}
.profile{
	background-image: url("image.jpeg");
	width: 180px;
	height: 180px;
	border-radius: 50%;
	background-size: cover;
	border: 5px solid #C42382;	
	margin-top: 0px;
}
.name{
	color: #000;
	font-weight: bold;
	font-size: 26px;
	margin-top: 20px;
	}
.bio{
     color:#000;
	margin-top: 7px;
	font-weight: bold;
	font-size: 20px;
}	
section{
	    display: grid;
	grid-template-columns: repeat(3,3fr);
	    grid-gap: 40px;
	    margin: 0 20px;
}	
.cardItem{
	     display: flex;
	     flex-direction: column;
	     align-items: center;
}	
.cardItem .value{
	            font-weight: bold; font-size: 20px;
	            color: black; padding: 5px;
}	
.cardItem .title{
	            font-size: 14px;
	            color: black;
	letter-spacing: 1px;
}
.follow{
	   width: 250px; height: 40px;
	   border: none; outline: none;
	   border-radius: 15px;
	   cursor: pointer;
	   background-color: #C42382;
	   color:black;
	   transition: 1s;
}
.more{
	  display: grid;
	  grid-template-columns: repeat(3,3fr);
	  grid-gap: 80px;
	  margin: 40px 0 0;
}
.more i{
	   font-size: 30px;
	   color:black;
	   cursor: pointer;
}
.nu2 {
	align-content: center;
	align-items: center;
	text-align: center;
}
.follow:hover {
	transform: scale(1.2);
}


